.card {
	margin: 10px;
}

.card-title {
	font-weight: bold;
}

.food-img {
	width: 125px;
}

.align-center {
	text-align: center;
}

.filter-button {
	margin: 5px;
	width: 100px;
}

.image-center {
	display: flex;
	align-items: center;
}
